.bg-black {
    background-color: #000000;
}

.bg-blue {
    background-color: blue;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-yellow {
    background-color: yellow;
}

.text-white {
    color: #FFFFFF;
}

.text-gray {
    color: gray;
}