<p>Hello,</p>
<p>We have received your reservation cancellation.</p>
<p>You have cancelled the following reservation:</p>
<hr />
<p>Resource: {{ resource }}</p>
<p>Unit: {{ unit }}</p>
<p>Start: {{ begin }}</p>
<p>End: {{ end }}</p>
<p></p>
<p>Reserver name: {{ reserver_name }}</p>
<p>Reserver email: {{ reserver_email_address }}</p>
{% if event_subject is defined and event_subject %}
    <p>Name of reservation: {{ event_subject }}</p>
{% endif %}
{% if event_description is defined and event_description %}
    <p>Reservation description: {{ event_description }}</p>
{% endif %}
{% if number_of_participants is defined %}
    <p>Number of participants: {{ number_of_participants }}</p>
{% endif %}
<p>Best regards, Varaamo</p>
