<p>Hello,</p>
<p>You have successfully modified your reservation.</p>
<p>Updated reservation details:</p>
<hr />
<p>Resource: {{ resource }}</p>
<p>Time: {{ time_range_alt  }}</p>
<p>Unit: {{ unit }}</p>
{% if not takes_place_virtually and unit_address is defined %}
<p>Address: {{ unit_address }}</p>
{% endif %}
<p></p>
<p>Reserver name: {{ reserver_name }}</p>
<p>Reserver email: {{ reserver_email_address }}</p>
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Reserver phone number: {{ reserver_phone_number }}</p>
{% endif %}
{% if universal_data is defined and universal_data %}
<!--inject:universal-field:html-->
<!-- endinject -->
{% endif %}
{% if unit_map_service_id is defined %}
{% set linkUrl = '<--map_url-->' + unit_map_service_id|string + '#' %}
    <a href="{{ linkUrl }}">Show location on the servicemap</a>
{% endif %}
<p>Best regards, Varaamo</p>
