<p>Hello,</p>
<p>A new preliminary reservation has been made:</p>
<hr />
<p>Resource: {{ resource }}</p>
<p>Unit: {{ unit }}</p>
<p>Start: {{ begin }}</p>
<p>End: {{ end }}</p>
<p></p>
{% if reserver_name is defined and reserver_name %}
<p>Reserver name: {{ reserver_name }}</p>
{% endif %}
{% if reserver_email_address is defined and reserver_email_address %}
<p>Reserver email: {{ reserver_email_address }}</p>
{% endif %}
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Reserver phone: {{ reserver_phone_number }}</p>
{% endif %}
{% if home_municipality_id is defined and home_municipality_id %}
<p>Reserver home municipality: {{ home_municipality_id }}</p>
{% endif %}
{% if event_subject is defined and event_subject %}
<p>Reservation name: {{ event_subject }}</p>
{% endif %}
{% if event_description is defined and event_description %}
<p>Reservation description: {{ event_description }}</p>
{% endif %}
{% if number_of_participants is defined %}
<p>Number of participants: {{ number_of_participants }}</p>
{% endif %}
<hr />
{% if extra_content is defined %}
{{ extra_content }}
{% endif %}
<p>Please process the reservation as soon as possible.</p>
<p>Best regards, Varaamo</p>
