<p>Hello,</p>
<p>You've made a preliminary reservation:</p>
<hr />
<p>Resource: {{ resource }}</p>
<p>Time: {{ time_range_alt  }}</p>
<p>Unit: {{ unit }}</p>
{% if not takes_place_virtually and unit_address is defined %}
<p>Address: {{ unit_address }}</p>
{% endif %}
<p></p>
{% if reserver_name is defined and reserver_name %}
<p>Reserver name: {{ reserver_name }}</p>
{% endif %}
{% if reserver_email_address is defined and reserver_email_address %}
<p>Reserver email: {{ reserver_email_address }}</p>
{% endif %}
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Reserver phone: {{ reserver_phone_number }}</p>
{% endif %}
{% if universal_data is defined and universal_data %}
<!--inject:universal-field:html-->
<!-- endinject -->
{% endif %}
{% if unit_map_service_id is defined %}
{% set linkUrl = '<--map_url-->' + unit_map_service_id|string + '#' %}
<a href="{{ linkUrl }}">Show location on the servicemap</a>
{% endif %}
<hr />
{% if extra_content is defined %}
{{ extra_content }}
{% endif %}
<p>You will get an email when your reservation is either confirmed or
    denied.
    In case we need more information regarding the reservation, we will be
    in contact
    with you.</p>
<p>Best regards, Varaamo</p>
