<p>Hello,</p>
<p>Your reservation has been confirmed.</p>
{% if order is defined %}
{% if order.payment_method == 'cash' %}
<p>The reservation payment will be done on-site.</p>
{% endif%}
{% endif %}
<hr />
<p>Resource: {{ resource }}</p>
<p>Unit: {{ unit }}</p>
<p>Start: {{ begin }}</p>
<p>End: {{ end }}</p>
{% if universal_data is defined and universal_data %}
<!--inject:universal-field:html-->
<!-- endinject -->
{% endif %}
<p></p>
{% if order is defined %}
<hr />
<!--inject:order:html-->
<!-- endinject -->
{% endif %}
<hr />
{% if extra_content is defined %}
{{ extra_content }}
{% endif %}
<p>All cancellations are done through personnel. Further
    information for cancelling your reservation can be found from Varaamo's
    "Your reservations" section which you can find when you are logged in to
    the service.</p>
<p>Best regards, Varaamo</p>
