<p>Hello,</p>
<p>A customer has made the following reservation:</p>
<hr />
<p>Resource: {{ resource }}</p>
<p>Unit: {{ unit }}</p>
<p>Start: {{ begin }}</p>
<p>End: {{ end }}</p>
<p></p>
<p>Reserver name: {{ reserver_name }}</p>
<p>Reserver email: {{ reserver_email_address }}</p>
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Reserver phone number: {{ reserver_phone_number }}</p>
{% else %}
<p>Reserver phone number: --</p>
{% endif %}
{% if home_municipality_id is defined and home_municipality_id %}
<p>Reserver home municipality: {{ home_municipality_id }}</p>
{% endif %}
{% if event_subject is defined and event_subject %}
    <p>Name of reservation: {{ event_subject }}</p>
{% endif %}
{% if event_description is defined and event_description %}
    <p>Reservation description: {{ event_description }}</p>
{% endif %}
{% if number_of_participants is defined %}
    <p>Number of participants: {{ number_of_participants }}</p>
{% endif %}
{% if require_assistance is defined and require_assistance %}
    <p>Reserver needs assistance.</p>
{% endif %}
{% if extra_question is defined and extra_question %}
    <p>Additional question: {{ extra_question }}</p>
{% endif %}
{% if extra_content is defined and extra_content %}
    {{ extra_content }}
{% endif %}
<p>Best regards, Varaamo</p>
