<p>Hello,</p>
<p>Thank you for reserving. The reservation has been confirmed.</p>
<p>Reservation details:</p>
<hr />
<p>Resource: {{ resource }}</p>
<p>Unit: {{ unit }}</p>
<p>Time: {{ bulk_email_context['first_reservation'].get('begin').split(' ')[1] }} - {{ bulk_email_context['first_reservation'].get('end').split(' ')[1] }}</p>
<p>Dates:</p>
{% if bulk_email_context is defined and bulk_email_context %}
<ul>
    {% for date in bulk_email_context['dates'] %}
    <li>{{ date.get('begin').split(' ')[0] }}</li>
    {% endfor %}
</ul>
{% endif %}
<p></p>
<p>Reserver name: {{ reserver_name }}</p>
<p>Reserver email: {{ reserver_email_address }}</p>
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Reserver phone number: {{ reserver_phone_number }}</p>
{% endif %}
{% if universal_data is defined and universal_data %}
<!--inject:universal-field:html-->
<!-- endinject -->
{% endif %}
{% if unit_map_service_id is defined %}
{% set linkUrl = '<--map_url-->' + unit_map_service_id|string + '#' %}
    <a href="{{ linkUrl }}">Show location on the servicemap</a>
{% endif %}
<p>Best regards, Varaamo</p>
