<p>Hello,</p>
<p>Thank you for reserving. Your reservation has been confirmed.</p>
<p>Reservation details:</p>
<hr />
<p>Resource: {{ resource }}</p>
<p>Unit: {{ unit }}</p>
<p>Start: {{ begin }}</p>
<p>End: {{ end }}</p>
<p></p>
<p>Reserver name: {{ reserver_name }}</p>
<p>Reserver email: {{ reserver_email_address }}</p>
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Reserver phone number: {{ reserver_phone_number }}</p>
{% endif %}
{% if event_subject is defined and event_subject %}
    <p>Name of reservation: {{ event_subject }}</p>
{% endif %}
{% if event_description is defined and event_description %}
    <p>Reservation description: {{ event_description }}</p>
{% endif %}
{% if number_of_participants is defined %}
    <p>Number of participants: {{ number_of_participants }}</p>
{% endif %}
{% if unit is defined %}
{% set linkUrl = '<--map_url-->' + unit_map_service_id|string + '#' %}
    <a href="{{ linkUrl }}">Show location on the servicemap</a>
{% endif %}
<p>Once you arrive at Monitori Market Square, please check in at the queue number machine with the phone number that you used to create the reservation.</p>
<p>Best regards, Varaamo</p>
