<p>Hej,</p>
<p>En kund har gjort följande bokning:</p>
<hr />
<p>Utrymme: {{ resource }}</p>
<p>Plats: {{ unit }}</p>
<p>Börjar: {{ begin }}</p>
<p>Slutar: {{ end }}</p>
<p></p>
<p>Bokarens namn: {{ reserver_name }}</p>
<p>Bokarens e-post: {{ reserver_email_address }}</p>
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Bokarens telefonnummer: {{ reserver_phone_number }}</p>
{% else %}
<p>Bokarens telefonnummer: --</p>
{% endif %}
{% if home_municipality_id is defined and home_municipality_id %}
<p>Bokarens hemkommun: {{ home_municipality_id }}</p>
{% endif %}
{% if event_subject is defined and event_subject %}
    <p>Bokningens namn: {{ event_subject }}</p>
{% endif %}
{% if event_description is defined and event_description %}
    <p>Bokningens beskrivning: {{ event_description }}</p>
{% endif %}
{% if number_of_participants is defined %}
    <p>Antal deltagare: {{ number_of_participants }}</p>
{% endif %}
{% if require_assistance is defined and require_assistance %}
    <p>Bokaren behöver instruering.</p>
{% endif %}
{% if extra_question is defined and extra_question %}
    <p>Tilläggsfråga: {{ extra_question }}</p>
{% endif %}
{% if extra_content is defined and extra_content %}
{{ extra_content }}
{% endif %}
