<p>Hej,</p>
<p>Din bokning har bekräftats.</p>
<hr />
<p>Utrymme: {{ resource }}</p>
<p>Plats: {{ unit }}</p>
<p>Börjar: {{ begin }}</p>
<p>Slutar: {{ end }}</p>
<p></p>
{% if order is defined %}
<hr />
<!--inject:order:html-->
<!-- endinject -->
{% endif %}
<hr />
{% if extra_content is defined %}
{{ extra_content }}
{% endif %}
<p>Alla avbokningar sker genom personal. Mer information om hur du
    annullerar din bokning finns i Varaamos avsnitt "Mina bokningar" som du
    hittar när du är inloggad på tjänsten.</p>
<p>Med vänliga hälsningar, Varaamo</p>
