<p>Hej,</p>
<p>Vi har gjort ändrigar i bokningen åt dig.</p>
<p>Här är bokningens uppdaterade information:</p>
<hr />
<p>Utrymme: {{ resource }}</p>
<p>Plats: {{ unit }}</p>
<p>Börjar: {{ begin }}</p>
<p>Slutar: {{ end }}</p>
<p></p>
<p>Bokarens namn: {{ reserver_name }}</p>
<p>Bokarens e-post: {{ reserver_email_address }}</p>
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Bokarens telefonnummer: {{ reserver_phone_number }}</p>
{% endif %}
{% if event_subject is defined and event_subject %}
    <p>Bokningens namn: {{ event_subject }}</p>
{% endif %}
{% if event_description is defined and event_description %}
    <p>Bokningens beskrivning: {{ event_description }}</p>
{% endif %}
{% if number_of_participants is defined %}
    <p>Antal deltagare: {{ number_of_participants }}</p>
{% endif %}
{% if universal_data is defined and universal_data %}
<!--inject:universal-field:html-->
<!-- endinject -->
{% endif %}
{% if additional_information is defined %}
    <p>{{ additional_information }}</p>
{% endif %}
{% if unit is defined %}
{% set linkUrl = '<--map_url-->' + unit_map_service_id|string + '#' %}
    <a href="{{ linkUrl }}">Visa på servicekartan</a>
{% endif %}
<p>Med vänliga hälsningar, Varaamo</p>
