<p>Hei,</p>
<p>Seuraava alustava varaus on tehty puolestasi:</p>
<hr />
<p>Palvelu: {{ resource }}</p>
<p>Aika: {{ time_range_alt  }}</p>
<p>Toimipiste: {{ unit }}</p>
{% if not takes_place_virtually and unit_address is defined %}
<p>Osoite: {{ unit_address }}</p>
{% endif %}
<p></p>
{% if reserver_name is defined and reserver_name %}
<p>Varaajan nimi: {{ reserver_name }}</p>
{% endif %}
{% if reserver_email_address is defined and reserver_email_address %}
<p>Varaajan sähköposti: {{ reserver_email_address }}</p>
{% endif %}
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Varaajan puhelinnumero: {{ reserver_phone_number }}</p>
{% endif %}
{% if universal_data is defined and universal_data %}
<!--inject:universal-field:html-->
<!-- endinject -->
{% endif %}
<hr />
{% if extra_content is defined %}
{{ extra_content }}
{% endif %}
<p>Varauksen hyväksymisestä saatte erillisen varausvahvistuksen
    sähköpostitse. Mikäli tarvitsemme lisätietoja varaukseen liittyen,
    olemme teihin yhteydessä erikseen.</p>
<p>Ystävällisin terveisin, Varaamo</p>
