<p>Hei,</p>
<p>Varauksesi on hyväksytty.</p>
{% if order is defined %}
{% if order.payment_method == 'cash' %}
<p>Varauksen maksaminen tapahtuu paikan päällä.</p>
{% endif%}
{% endif %}
<hr />
<p>Palvelu: {{ resource }}</p>
<p>Toimipiste: {{ unit }}</p>
<p>Alkaa: {{ begin }}</p>
<p>Loppuu: {{ end }}</p>
{% if universal_data is defined and universal_data %}
<!--inject:universal-field:html-->
<!-- endinject -->
{% endif %}
<p></p>
{% if order is defined %}
<hr />
<!--inject:order:html-->
<!-- endinject -->
{% endif %}
<hr />
{% if extra_content is defined %}
{{ extra_content }}
{% endif %}
<p>Varauksen peruminen tehdään tilasta vastaavan henkilökunnan kautta.
    Tarkemmat tiedot perumiseen löydätte Varaamon omista varauksista
    kirjautumalla palveluun.</p>
<p>Ystävällisin terveisin, Varaamo</p>
