<p>Hei,</p>
<p>ja kiitokset Varaamon käytöstä!</p>
<p>Alustava varaus on tehty puolestasi:</p>
<hr />
<p>Palvelu: {{ resource }}</p>
<p>Toimipiste: {{ unit }}</p>
<p>Alkaa: {{ begin }}</p>
<p>Loppuu: {{ end }}</p>
<p></p>
{% if reserver_name is defined and reserver_name %}
<p>Varaajan nimi: {{ reserver_name }}</p>
{% endif %}
{% if reserver_email_address is defined and reserver_email_address %}
<p>Varaajan sähköposti: {{ reserver_email_address }}</p>
{% endif %}
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Varaajan puhelinnumero: {{ reserver_phone_number }}</p>
{% endif %}
{% if home_municipality_id is defined and home_municipality_id %}
<p>Varaajan kotikunta: {{ home_municipality_id }}</p>
{% endif %}
{% if event_subject is defined and event_subject %}
<p>Varauksen nimi: {{ event_subject }}</p>
{% endif %}
{% if event_description is defined and event_description %}
<p>Varauksen kuvaus: {{ event_description }}</p>
{% endif %}
{% if number_of_participants is defined %}
<p>Osallistujamäärä: {{ number_of_participants }}</p>
{% endif %}
{% if universal_data is defined and universal_data %}
<!--inject:universal-field:html-->
<!-- endinject -->
{% endif %}
<hr />
{% if extra_content is defined %}
{{ extra_content }}
{% endif %}
<p>Varauksen hyväksymisestä saatte erillisen varausvahvistuksen
    sähköpostitse. Mikäli tarvitsemme lisätietoja varaukseen liittyen,
    olemme teihin yhteydessä erikseen.</p>
<p>Ystävällisin terveisin, Varaamo</p>
