<div class="billing-details">
    <table>
        <thead>
        <tr>
            <th class="billing-details-headers">Maksajan tiedot</th>
            <th class="billing-details-headers">Maksutapahtuman päivämäärä</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div>
                    <p class="billing-details-values">{{ billing_first_name }} {{ billing_last_name }}</p>
                    <p class="billing-details-values">{{ billing_address_street }}</p>
                    <p class="billing-details-values">{{ billing_address_zip }} {{ billing_address_city }}</p>
                </div>
            </td>
            <td>
                {{ order_details[0].created_at }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="payment-details">
    <table>
        <tr>
            <td class="payment-details-ids">
                <table>
                    <thead>
                    <tr>
                        <th class="payment-details-bill-id">Laskun tunniste</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ order_details[0].order_number }}</td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                    <tr>
                        <th class="payment-details-event-id">Tapahtuman tunniste</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ order_details[0].id }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="payment-details-seller">
                <table>
                    <thead>
                    <tr>
                        <th class="payment-details-seller-header">Myyjän tiedot</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div>
                                <p class="payment-details-seller-values">Turun Kaupunki</p>
                                <p class="payment-details-seller-values">PL 355</p>
                                <p class="payment-details-seller-values">20101 TURKU</p>
                                <p class="payment-details-seller-values">Y-tunnus 0204819-8</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="order-details">
    <table>
        <thead>
        <tr class="order-details-headers-tr">
            <th class="order-details-headers">Tuote/palvelu</th>
            <th class="order-details-headers">Määrä</th>
            <th class="order-details-headers">Yksikköhinta</th>
            <th class="order-details-headers">Alv %</th>
            <th class="order-details-headers-last-value">Veroton yhteensä</th>
        </tr>
        </thead>
        <tbody>
        {% for value in order_details %}

        <tr>
            <td class="order-details-values-first">{{ value.name }}, {{ unit }}</td>
            <td class="order-details-values-middle">{{ value.quantity }}</td>
            <td class="order-details-values-middle">{{ value.pretax_price_num|string|replace('.', ',') }}</td>
            <td class="order-details-values-middle">{{ value.tax_percentage }}</td>
            <td class="order-details-values-last-value">{{ (value.pretax_price_num * value.quantity)|string|replace('.', ',') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<table>
    {% set global = namespace(total=0) %}
    <tbody>
    {% set ns = namespace(total=0) %}
    {% for id, prod in order_details|groupby("id") %}
        {% set temp_price = prod|sum(attribute='pretax_price_num') * prod|sum(attribute='quantity') %}
        {% set ns.total = ns.total + temp_price %}
    {% endfor %}
    {% set global.total = global.total + ns.total %}
    <tr>
        <td class="order-summary-headers">Veroton hinta yhteensä</td>
        {% set tax_free_total = "%.2f"|format(ns.total|round(2)) %}
        <td class="order-summary-values">{{ tax_free_total|replace('.', ',') }} euroa</td>
    </tr>

    {% for alv, prod in order_details|groupby("tax_percentage") %}
        {% if alv not in ['0,00', '0.00']  %}
            <tr>
                <td class="order-summary-headers">ALV {{ alv }} % yhteensä</td>
                {% set ns = namespace(total=0) %}
                {% for obj in prod %}
                    {% set ns.total = ns.total + (obj['tax_price_num'] * obj['quantity']) %}
                {% endfor %}
                {% set global.total = global.total + ns.total %}
                {% set tax_string = "%.2f"|format(ns.total|round(2)) %}
                <td class="order-summary-values">{{ tax_string|replace('.', ',') }} euroa</td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr>
        <td class="order-summary-headers">Lasku yhteensä</td>
        {% set total_string = "%.2f"|format(global.total|round(2)) %}
        <td class="order-summary-values-last-value">{{ total_string|replace('.', ',') }} euroa</td>
    </tr>
    </tbody>
</table>
