<div class="billing-details">
    <table>
        <thead>
        <tr>
            <th class="billing-details-headers">Köparens uppgifter</th>
            <th class="billing-details-headers">Fakturans datum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div>
                    <p class="billing-details-values">{{ billing_first_name }} {{ billing_last_name }}</p>
                    <p class="billing-details-values">{{ billing_address_street }}</p>
                    <p class="billing-details-values">{{ billing_address_zip }} {{ billing_address_city }}</p>
                </div>
            </td>
            <td>
                {{ order_details[0].created_at }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="payment-details">
    <table>
        <tr>
            <td class="payment-details-ids">
                <table>
                    <thead>
                    <tr>
                        <th class="payment-details-bill-id">Fakturanummer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ order_details[0].order_number }}</td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                    <tr>
                        <th class="payment-details-event-id">Händelsenummer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ order_details[0].id }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="payment-details-seller">
                <table>
                    <thead>
                    <tr>
                        <th class="payment-details-seller-header">Säljarens uppgifter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div>
                                <p class="payment-details-seller-values">Åbo Stad</p>
                                <p class="payment-details-seller-values">PO 355</p>
                                <p class="payment-details-seller-values">20101 ÅBO</p>
                                <p class="payment-details-seller-values">FO-nummer 0204819-8</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="order-details">
    <table>
        <thead>
        <tr class="order-details-headers-tr">
            <th id="product" scope="col" class="order-details-headers">Produkt/service</th>
            <th id="quantity" scope="col" class="order-details-headers">Mängd</th>
            <th id="unit-price" scope="col" class="order-details-headers">Enhetspris</th>
            <th id="vat" scope="col" class="order-details-headers">Moms %</th>
            <th id="taxfree-total" scope="col" class="order-details-headers-last-value">Totala skattefria</th>
        </tr>
        </thead>
        <tbody>
            {#
                global variables and their purpose:
                multiple - determines whether a product's pricing should be shown in separate nested rows.
                detailed_info - determines if a separate explanation paragraph for detailed pricing is rendered
                                after the table, true when product has per_period pricing and quantity is more than 2.
            #}
            {% set global = namespace(multiple=true) %}
            {% set global = namespace(detailed_info=false) %}
            {% for product in order_details %}
                {% set global.multiple = true %}
                {% if product.detailed_price|count == 1%}
                    {% set global.multiple = false %}
                {% endif %}
                {% set alternating_highlight = loop.cycle('', 'highlight')  %}
                <tr class="{{ alternating_highlight }}">
                    <th id="{{ product.id }}-name" scope="row" class="order-details-values-first">{{ product.name }}, {{ unit }}</th>
                    {% if 'product_quantity' in product.keys() %}
                        {# product_quantity key only exists in products with per_period pricing #}
                        {% set global.multiple = true %}
                        <td class="order-details-values-middle">{{ product.product_quantity }}</td>
                        <td class="order-details-values-middle">&nbsp;</td>
                        <td class="order-details-values-middle">&nbsp;</td>
                        <td class="order-details-values-last-value">{{ product.product_taxfree_total|string|replace('.',',') }}</td>
                        {% if product.product_quantity not in [1, 1.0] %}
                            {% set global.detailed_info = true %}
                        {% endif %}
                    {% endif %}
                    {% if global.multiple == false %}
                        {# product doesn't have per_period pricing -> list normally in one row #}
                        {% for key, val in product.detailed_price.items() %}
                            <td class="order-details-values-middle">{{ val.count }}</td>
                            <td class="order-details-values-middle">{{ val.taxfree_price|string|replace('.',',') }}</td>
                            <td class="order-details-values-middle">{{ product.tax_percentage }}</td>
                            <td class="order-details-values-last-value">{{ val.taxfree_price_total|string|replace('.',',') }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
                {% if global.multiple == true %}
                    {% if global.detailed_info == true %}
                        <tr class="{{ alternating_highlight }}">
                            <th class="order-details-values-first" colspan="5">prisfördelning*</th>
                        </tr>
                    {% endif %}

                    {% for key, val in product.detailed_price.items() %}
                        {# render each pricing #}
                        <tr class="{{ alternating_highlight }}">
                            {% if key == 'default' %}
                                <th headers="{{ product.id }}-name" scope="row" class="order-details-values-first-sub">normalpris</th>
                            {% else %}
                                <th headers="{{ product.id }}-name" scope="row" class="order-details-values-first-sub">{{ val.time.begin }} - {{ val.time.end }}</th>
                            {% endif %}
                            <td class="order-details-values-middle">{{ val.count }}</td>
                            <td class="order-details-values-middle">{{ val.taxfree_price|string|replace('.',',') }}</td>
                            <td class="order-details-values-middle">{{ product.tax_percentage }}</td>
                            <td class="order-details-values-last-value">{{ val.taxfree_price_total|string|replace('.',',') }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% if global.detailed_info == true %}
<p>*Prisfördelning visas endast av ett stycke av produkten då bokningen innehåller flera stycken av samma produkt. Produktens totala pris räknas genom att multiplicera varje fördelade rads totala skattefria med produktens mängd.</p>
{% endif %}
<table>
    <tbody>
        <tr>
            <td class="order-summary-headers">Totala skattefria priset</td>
            <td class="order-summary-values">{{ order_taxfree_total|string|replace('.',',') }} euro</td>
        </tr>
        {% for key, val in detailed_tax_sums|dictsort %}
            {% if key not in ['0,00', '0.00'] %}
                <tr>
                    <td class="order-summary-headers">Moms {{ key }} % totalt</td>
                    <td class="order-summary-values">{{ val|string|replace('.',',') }} euro</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td class="order-summary-headers">Totala priset</td>
            <td class="order-summary-values-last-value">{{ order_total|string|replace('.',',') }} euro</td>
        </tr>
    </tbody>
</table>
