<p>Hei,</p>
<p>kiitos varauksestasi. Se on nyt vahvistettu.</p>
<p>Tässä varauksesi tiedot:</p>
<hr />
<p>Palvelu: {{ resource }}</p>
<p>Aika: {{ time_range_alt  }}</p>
<p>Toimipiste: {{ unit }}</p>
{% if not takes_place_virtually and unit_address is defined %}
<p>Osoite: {{ unit_address }}</p>
{% endif %}
<p></p>
<p>Varaajan nimi: {{ reserver_name }}</p>
<p>Varaajan sähköposti: {{ reserver_email_address }}</p>
{% if reserver_phone_number is defined and reserver_phone_number %}
<p>Varaajan puhelinnumero: {{ reserver_phone_number }}</p>
{% endif %}
{% if event_subject is defined and event_subject %}
    <p>Varauksen nimi: {{ event_subject }}</p>
{% endif %}
{% if event_description is defined and event_description %}
    <p>Varauksen kuvaus: {{ event_description }}</p>
{% endif %}
{% if number_of_participants is defined %}
    <p>Osallistujamäärä: {{ number_of_participants }}</p>
{% endif %}
{% if unit_map_service_id is defined %}
{% set linkUrl = '<--map_url-->' + unit_map_service_id|string + '#' %}
    <a href="{{ linkUrl }}">Näytä sijainti palvelukartalla</a>
{% endif %}
<p>Tullessasi Kauppatorin Monitoriin ilmoittaudu kaupungin vuoronumerolaitteella käyttämällä tässä varauksessa antamaasi puhelinnumeroa.</p>
<p>Ystävällisin terveisin, Varaamo</p>
